.Task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightblue;
    width: 350px;
    padding: 0.5rem;
    div {
        label {
            margin-left: 2rem;
        }
    }
}

.Task:hover {
    background-color: aliceblue;
}